<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="service.title"
          name="title"
          placeholder="Name of the service"
        />
      </div>

      <div class="form-group">
        <label for="category">Category</label>
        <input
          class="form-control"
          id="category"
          required
          [(ngModel)]="service.category"
          name="category"
          placeholder="This should be a dropdown menu"
        />
      </div>

      <div class="form-group">
        <label for="details">Details</label>
        <input
          class="form-control"
          id="details"
          required
          [(ngModel)]="service.details"
          name="details"
          placeholder="Short description of what the service entails"
        />
      </div>

      <div class="form-group">
        <label for="availableTokens">Amount of Tokens</label>
        <input
          class="form-control"
          id="availableTokens"
          required
          [(ngModel)]="service.availableTokens"
          name="availableTokens"
          placeholder="How many tokens this service has until it becomes unavailable"
        />
      </div>

      <div class="form-group">
        <label for="date">Date</label>
        <input
          class="form-control"
          id="date"
          required
          [(ngModel)]="service.date"
          name="date"
          placeholder="Date service will take place"
        />
      </div>

      <button (click)="saveService()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>Service was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newService()">Add</button>
    </div>
  </div>
</div>
